# When using sioyek as AppImage, default configs are created within `/tmp/.mount_Sioyek*`.

# Opening files
open_prev_doc o
open_document_embedded_from_current_path O

# Basic movement
goto_beginning;goto_top_of_page gg
goto_end;goto_top_of_page G
next_page <C-d>
previous_page <C-u>
goto_top_of_page zz

# Zoom
fit_to_page_width_ratio =

# Search
regex_search ?

# Custom commands
_open_tutorial <f1>
