# When using sioyek as AppImage, default configs are created within `/tmp/.mount_Sioyek*`.

background_color #808080
dark_mode_background_color #808080
# search_url_l	https://libgen.li/index.php?req=
page_separator_width 5
page_separator_color	#808080
fit_to_page_width_ratio 0.6
zoom_inc_factor         1.05
collapsed_toc 1

# Custom commands
new_command _open_tutorial sioyek /home/michal/.config/.local/share/Sioyek/tutorial.pdf
